{% extends 'base.jinja2' %}

{% block subtitle %}Incomplete Tasks{% endblock subtitle %}

{% block content %}
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.name }}:
                <form method="POST">
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <input type="submit" value="Mark done">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}